.subtitle {
    @include heading-2;

    margin: 0 0 $spacing-4;
    color: var(--prezly-text-color);
    font-weight: $font-weight-regular;
    opacity: 0.65;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}
