.sharingOptions {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-5;
    margin-top: $spacing-5;

    &.inline {
        flex-direction: row;
        column-gap: $spacing-4;
    }
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-4;

    &.withLabels {
        .socialButton {
            display: inline-flex;
            align-items: center;
            column-gap: $spacing-2;

            &::after {
                content: attr(data-title);
                white-space: nowrap;
            }
        }
    }
}

.socialIcon {
    width: 24px;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-3;
}

.action {
    white-space: nowrap;
}
