.list {
    grid-template-columns: 1fr !important;
    gap: $spacing-5;
}

.fallbackText {
    margin: 0;
    padding: 80px 24px;
    text-align: center;
    font-weight: $font-weight-regular;
    font-size: $font-size-l;
    line-height: 1.5;
    color: var(--prezly-text-color);

    @include desktop-up {
        grid-column: span 3;
    }
}
