.container {
    position: relative;
    margin: 0;
    flex-grow: 1;
}

.input {
    margin: 0;

    input {
        padding: $spacing-3 $spacing-4;
        border-color: $color-base-600;
        border-radius: 0;
        background-color: $color-base-900;
        color: $color-base-100;
        font-weight: $font-weight-regular;

        &::placeholder {
            color: $color-base-400;
        }
    }

    /* clears the 'X' from Internet Explorer */
    input::-ms-clear,
    input::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }

    /* clears the 'X' from Chrome */
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        display: none;
    }
}

.button {
    border-color: transparent !important;
    border-width: 2px;
    background-color: transparent !important;
    padding: $spacing-2 !important;
    position: absolute;
    right: $spacing-2;
    top: 50%;
    transform: translateY(-50%);
    font-size: $font-size-m;
    color: var(--prezly-accent-color);
}
