.container {
    padding: $spacing-8 0;
}

.grid {
    display: grid;
    gap: $spacing-9 $spacing-6;
    margin-bottom: $spacing-9;

    &.twoColumns {
        grid-template-columns: repeat(2, 1fr);
    }

    &.threeColumns {
        grid-template-columns: repeat(3, 1fr);
    }
}
