@import "styles/variables";

.container {
    display: flex;
}

.link {
    display: block;
    color: $color-base-white;

    & + & {
        margin-left: $spacing-3;
    }
}

.icon {
    $size: 1rem;

    width: $size;
    height: $size;
}
