.container {
    display: flex;
}

.link {
    display: block;
    color: $color-base-white;

    &:hover,
    &:focus {
        color: $color-base-300;
    }

    & + & {
        margin-left: $spacing-3;
    }
}

.icon {
    $size: 1.5rem;

    width: $size;
    height: $size;
}
