.container {
    display: flex;
    align-items: center;
    color: $color-base-500;
}

.button {
    margin-left: $spacing-3;
    font-size: 0 !important;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
    color: $color-text;
}

.button:hover,
.button:focus {
    .icon {
        color: $color-base-500;
    }
}
