@import "styles/variables";
@import "styles/mixins";

.button {
    @include text-label;

    display: block;
    margin: $spacing-8 auto $spacing-9;
    background: $color-base-white;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $color-base-200;
    border-radius: $spacing-1;
    padding: $spacing-2 $spacing-3;
    font-weight: bold;
    cursor: pointer;

    &:disabled,
    &.disabled {
        opacity: 0.4;
    }

    &:not(:disabled):not(.disabled) {
        &:hover,
        &:focus {
            opacity: 0.8;
        }

        &:active {
            opacity: 1;
            background: $color-base-50;
        }
    }
}
