.social {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-4;
}

.socialButton {
    color: inherit;
}

.withLabels {
    .socialButton {
        display: inline-flex;
        align-items: center;
        column-gap: $spacing-2;
        text-decoration: none;

        &::after {
            content: attr(aria-label);
            white-space: nowrap;
        }
    }
}

.socialIcon {
    width: 24px;
}
