.container {
    color: var(--prezly-text-color);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--prezly-text-color-hover);
    }
}

.thumbnailWrapper {
    @include medium-card-aspect-ratio;

    & {
        position: relative;
        margin: 0 auto $spacing-4;
    }

}

.thumbnail {
    @include border-radius-s;

    & {
        border: 1px solid var(--prezly-border-color);
        object-fit: cover;
    }
}

.title {
    @include heading-2;
}