.title {
    > p {
        font-size: 18px;
        line-height: 160%;
        font-weight: $font-weight-regular;
        color: var(--prezly-text-color-secondary);
    }

    > h1 {
        color: var(--prezly-text-color);
    }
}

.loadMore {
    display: flex;
    margin: $spacing-8 auto 0;
}

.placeholderCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-7;
}
