$image-wrapper-height: 250px;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
    opacity: 0.5;
    text-decoration: none;
    color: var(--prezly-text-color);

    .imageWrapper {
        height: 250px;
        background-color: var(--prezly-background-color-intermediate);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--prezly-border-color);
    }

    .title {
        margin: 0;
        padding: 0;
        font-size: 26px;
        line-height: 140%;
        font-weight: $font-weight-semi-bold;
        color: var(--prezly-text-color);
    }
}
