.renderer {
    :global {
        .prezly-slate-heading--heading-1 {
            @include heading-1-xxl;

            margin: $spacing-1 0 $spacing-3;
            color: $color-base-700;
        }
    }
}
