/* stylelint-disable property-no-unknown */
:export {
    light-text-color: $color-base-white;
    dark-text-color: $color-base-700;
    default-placeholder-color: $color-base-white;
}
/* stylelint-enable property-no-unknown */
