.avatar {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    margin-bottom: $spacing-3;

    @include tablet-only {
        margin-right: $spacing-3;
        margin-bottom: 0;

    }
}

.content {
    flex: 1;
    overflow: hidden;
}

.name {

    @include paragraph;

    font-size: $font-size-l;
    margin: 0 auto $spacing-half;
    font-weight: $font-weight-bold;
}

.position {
    @include text-label;

    margin: 0 auto $spacing-3;
    color: $color-base-500;
    font-weight: $font-weight-regular;
}

.links {
    display: flex;
    flex-wrap: wrap;
    margin: $spacing-2 auto (-$spacing-2);
}

.link {
    @include text-small;
    @include link-primary;

    display: flex;
    align-items: center;
    margin-right: $spacing-4;
    margin-bottom: $spacing-2;
    overflow: hidden;
    padding-bottom: 1.3rem;
}

.linkText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $color-blue-500;
}

.icon {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    margin-right: $spacing-1;
    color: $color-blue-500;
}

.container {
    padding: $spacing-4;
    overflow: hidden;

    .contentTitle {
        display: block;

        @include tablet-only {
            margin-right: $spacing-3;
            margin-bottom: 0;
            display: flex;
        }
    }

    .contentTitleInfo {
        margin-top: 0;

        @include tablet-only {
            margin-top: 0.25rem;
        }
    }


    /* stylelint-disable max-nesting-depth */
    // This class applies mobile styling but can also be forced through props.
    // The component will apply this class automatically when on mobile screen.

    &.compact {
        .avatar {
            margin-bottom: $spacing-3;
        }

        .links {
            display: block;
            margin-bottom: 0;
        }

        .link {
            margin-right: 0;
            margin-bottom: $spacing-2;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    /* stylelint-enable max-nesting-depth */
}