.container {
    @include text-small;

    padding: $spacing-5 0;
    color: $color-base-white;
    background: $color-base-900;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include not-desktop {
        display: block;
    }
}

.links {
    display: flex;
    align-items: center;

    @include not-desktop {
        &:not(:last-child) {
            margin-bottom: $spacing-4;
        }
    }
}

.link {
    @include link-white;

    display: block;
    padding: 0;
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;

    & + & {
        margin-left: $spacing-3;
    }
}

.poweredBy {
    display: flex;
    align-items: center;
}

.prezly {
    margin-left: $spacing-1;
    line-height: 0;
    color: $color-base-white;
}

.prezlyLogo {
    height: 1.25rem;
}
