.container {
    margin-bottom: $spacing-6;
}

.title {
    @include heading-2;

    margin-top: 0;
    font-weight: $font-weight-regular;

    &:only-child {
        margin-bottom: 0;
    }
}

.subtitle {
    @include paragraph;

    margin: 0;
    color: var(--prezly-text-color-secondary);
}
