.container {
    margin-bottom: $spacing-6;
}

.title {
    @include heading-1;

    margin-top: 0;

    &:only-child {
        margin-bottom: 0;
    }
}

.subtitle {
    @include paragraph;

    margin: 0;
}
