.container {
    padding-top: 0 !important;

    .list {
        @include desktop-up {
            grid-template-columns: repeat(3, 1fr);
            row-gap: $spacing-6;
        }
    }
}

.fallbackText {
    @include heading-2;

    padding-top: $spacing-8;
    text-align: center;
    font-weight: 400;
    color: $color-base-500;

    @include desktop-up {
        grid-column: span 3;
    }
}
