.header {
    display: flex;
    align-items: flex-start;

    @include desktop-up {
        margin-bottom: $spacing-4;
    }
}

.button {
    margin-left: $spacing-3;
    padding: calc(#{$spacing-3} - 1px) $spacing-3;

    @include desktop-up {
        display: none;
    }
}
