.moreCategories {
    @include text-label;
    color: var(--prezly-accent-color);
    font-weight: $font-weight-bold;

    // Added this since the link is not clickable regargdless of how many items it has.
    display: none;
}

// TODO: This just replicates styles from the CategoryLink component
.moreCategoriesLink {
    @include link-primary;

    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
        span {
            text-decoration: underline;
        }
    }
}

.categoryLink {
    &:not(:last-child) {
        &::after {
            content: ",";
            margin-right: $spacing-half;
        }
    }

    &:hover {
        text-decoration: none;
    }

    &:hover span {
        text-decoration: none;
    }
}
