.moreCategories {
    @include text-label;

    color: var(--prezly-accent-color);
    font-weight: $font-weight-bold;
}

// TODO: This just replicates styles from the CategoryLink component
.moreCategoriesLink {
    @include link-primary;

    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
        span {
            text-decoration: underline;
        }
    }
}

.categoryLink {
    &:not(:last-child) {
        &::after {
            content: ",";
            margin-right: $spacing-half;
        }
    }
}
