@import "variables";
@import "mixins";

.notifications {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 40px;
    padding: $spacing-1;
    vertical-align: middle;
    color: $color-base-white;
    background-color: $color-red-800;
    z-index: $notifications-bar-z-index;
    display: flex;
    align-items: center;
}

.content {
    @include container;

    a {
        &, &:hover, &:active, &:visited, &:focus {
            color: inherit;
        }
    }
}
