.imageContainer,
.image {
    height: 100%;
}

.imageContainer {
    display: block;
}

.placeholder {
    @include paragraph;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-4;
    color: var(--prezly-header-link-color);
    background: var(--prezly-header-background-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    border: 1px solid $color-borders;
}

.placeholderLogo {
    max-width: 16rem;
    max-height: 4rem;
}
