$color-base-white: #fff;
$color-base-50: #f9fafb;
$color-base-100: #f3f4f6;
$color-base-200: #e5e7eb;
$color-base-300: #d1d5db;
$color-base-400: #9ca3af;
$color-base-500: #6b7280;
$color-base-600: #4b5563;
$color-base-700: #374151;
$color-base-800: #1f2937;
$color-base-900: #111827;

$color-red-100: #FEE2E2;
$color-red-400: #F87171;
$color-red-500: #EF4444;
$color-red-600: #DC2626;

$color-yellow-100: #FEF3C7;
$color-yellow-400: #FACC15;
$color-yellow-500: #EAB308;
$color-yellow-600: #CA8A04;

$color-green-100: #D1FAE5;
$color-green-400: #4ADE80;
$color-green-500: #22C55E;
$color-green-600: #16A34A;

$color-blue-100: #DBEAFE;
$color-blue-400: #60A5FA;
$color-blue-500: #3B82F6;
$color-blue-600: #2563EB;

$color-indigo-100: #E0E7FF;
$color-indigo-400: #818CF8;
$color-indigo-500: #6366F1;
$color-indigo-600: #4F46E5;

$color-purple-100: #EDE9FE;
$color-purple-400: #C084FC;
$color-purple-500: #8B5CF6;
$color-purple-600: #9333EA;

$color-pink-100: #FCE7F3;
$color-pink-400: #F472B6;
$color-pink-500: #EC4899;
$color-pink-600: #DB2777;

$color-text: $color-base-600;
$color-headings: $color-base-700;
$color-primary: $color-indigo-500;
