@mixin container {
    width: 100%;
    margin: 0 auto;
    padding: 0 $grid-spacing-mobile;

    @include tablet-up {
        padding: 0 $grid-spacing-tablet;
    }

    @include desktop-up {
        padding: 0 $grid-spacing-desktop;
        max-width: $grid-container-max-width;
    }
}

/*
** Use this mixin inside a container to create a block that breaks outside of fixed width
** and stretches to the entire screen width
*/
@mixin full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
