@import "../variables/typography";

@mixin heading-1 {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
}

@mixin heading-2 {
    font-size: $font-size-l;
    line-height: $line-height-l;
}

@mixin heading-3 {
    font-size: $font-size-m;
    line-height: $line-height-m;
}

@mixin paragraph {
    font-size: $font-size-s;
    line-height: $line-height-s;
}

@mixin text-small {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
}

@mixin text-tiny {
    font-size: $font-size-xxs;
    line-height: $line-height-xxs;
}

@mixin text-label {
    font-size: $font-size-labels;
    line-height: $line-height-labels;
}

@mixin link-white {
    color: $color-base-white;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color-base-300;
        text-decoration: underline;
    }

    &:active {
        color: $color-base-white;
    }
}

@mixin link-primary {
    color: $color-primary;
    font-weight: $font-weight-bold;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color-indigo-500;
        text-decoration: underline;
    }

    &:active {
        color: $color-primary;
    }
}
