.container {
    @include mobile-only {
        background: $color-base-50;
        border-top: 1px solid $color-borders;
        margin-top: $spacing-2;
    }
}

.menu {
    @include tablet-up {
        max-height: 50vh;
        overflow: auto;
    }
}

.item,
.label {
    &::first-letter {
        text-transform: uppercase;
    }
}
