.container {
    border-bottom: 1px solid var(--prezly-border-color);
    padding: $spacing-2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.inputWrapper {
    flex-grow: 1;
    position: relative;
}

.input {
    margin: 0 !important;

    input {
        border-left: 0;
        border-right: 0;
        padding: $spacing-1 $spacing-2;
        border-color: transparent !important;
    }

    /* clears the 'X' from Internet Explorer */
    input::-ms-clear,
    input::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }

    /* clears the 'X' from Chrome */
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        display: none;
    }
}

.inputHint {
    @include text-label;

    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: $spacing-1 $spacing-2;
    color: $color-base-400;
    pointer-events: none;
}

.button {
    margin-left: $spacing-1;
    padding: $spacing-1 $spacing-2 !important;
}
