@import "styles/variables";
@import "styles/mixins";

.container {
    padding: $spacing-9 0;
    color: $color-base-white;
    background: $color-base-800;

    @include desktop-up {
        padding: $spacing-10 0 $spacing-9;
    }
}

.grid {
    display: block;

    @include desktop-up {
        display: grid;
        grid-template-columns: 1fr 350px;
        gap: $spacing-6;
    }
}

.heading {
    margin: $spacing-3 0;
    color: $color-base-white;
    font-size: $font-size-m;
}

.aboutUs {
    margin-bottom: $spacing-6;

    @include desktop-up {
        grid-column: 1 / 2;
        margin-bottom: 0;
    }
}

.contacts {
    grid-column: 2 / 2;
}

.about {
    margin-bottom: $spacing-5;
}

.socialMedia {
    margin-bottom: $spacing-3;
}

.link {
    color: $color-base-white;
}

.separator {
    width: 24px;
    height: 2px;
    background: $color-base-white;
}
