$story-container-max-width: 720px;

.container {
    margin: 0 auto;
    background: $color-base-white;

    @include desktop-up {
        max-width: $story-container-max-width;
    }
}

.date {
    @include text-label;

    color: $color-base-500;
}
