$story-container-max-width: 720px;

.mainImage {
    @include mobile-only {
        @include full-width;

        margin-bottom: $spacing-5;
        margin-top: $spacing-5;
    }

    @include tablet-up {
        margin: $spacing-6 auto;
    }

    @include desktop-up {
        max-width: $story-container-max-width;
    }
}

.container {
    margin: 0 auto;
    padding: $spacing-6 0;
    background: $color-base-white;

    @include desktop-up {
        max-width: $story-container-max-width;
        padding: $spacing-9 0;
    }
}

.title {
    @include heading-1-xxl;

    margin: $spacing-1 0 $spacing-3;
    color: $color-base-700;
}

.subtitle {
    @include heading-2;

    margin: 0 0 $spacing-4;
    color: $color-base-500;
    font-weight: $font-weight-regular;
}

.separator {
    width: 100%;
    height: 1px;
    margin: $spacing-7 auto;
    background: $color-base-200;
}

.date {
    @include text-label;

    color: $color-base-500;
}
