.contacts {
    margin-top: $spacing-8;
    padding: $spacing-8 0;
    background: var(--prezly-background-color-intermediate);

    &::before {
        content: '';
        display: block;
        border-top: 1px solid var(--prezly-border-color);
        position: absolute;
        left: 0;
        right: 0;
        translate: 0 (-$spacing-8);
    }
}

.title {
    margin: 0 auto $spacing-6;
    text-align: center;
    font-family: var(--prezly-font-family);
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.2;
    color: var(--neumann-text-strong);
}

.grid {
    display: grid;
    gap: $spacing-6;
    grid-template-columns: 1fr;

    @include not-desktop {
        grid-template-columns: 1fr !important;
    }

    &.twoColumns {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &.threeColumns {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
