@import "variables";
@import "mixins";

.link {
    @include text-label;
    @include link-primary;

    font-weight: $font-weight-semi-bold;
    text-decoration: none;
    cursor: pointer;

    &:not(:last-child) {
        &::after {
            content: ",";
            margin-right: $spacing-half;
        }
    }
}
