.modal {
    padding: 0;

    @include mobile-only {
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }
}

.wrapper {
    @include mobile-only {
        padding: 0;
        min-height: 0;
        height: 100%;

        > span {
            display: none;
        }
    }
}

.backdrop {
    @include mobile-only {
        display: none;
    }
}
