.container {
    position: relative;
    z-index: 999;
}

.menu {
    @include border-radius-m;
    @include shadow-m;

    position: absolute;
    right: 0;
    width: 330px;
    margin: $spacing-1 0 0;
    padding: 0;
    list-style: none;
    background: $color-base-white;
    border: 1px solid $color-base-200;
    overflow: hidden;

    @include mobile-only {
        width: 280px;
    }
}
