.wrapper {
    //width: 100%;
    margin-bottom:1rem;
    margin-top:1rem;

    @media (min-width: 840px) {
        width: 120%;
        margin-left: -10%;
    }
}

.github,
.githubDark {
    border-radius: 5px;
    overflow: hidden;
    font-size:.85rem;

    :global {

        code {
            .linenumber {
                width: 50px;
                margin-right: 7px;
                padding: 0 7px;
                font-size:.85rem;
                line-height: 1.3rem;
            }

            & > .linenumber {

                &:first-of-type {
                    padding-top: 10px;
                }

                &:last-of-type {
                    padding-bottom: 10px;
                }
            }
        }


        .hljs {
            padding-right: 7px;
            overflow-x: auto;
        }


    }

    .meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        color: #586069;
        background-color: #f7f7f7;
        border-top: 1px solid #ddd;
        font-size: 14px;
    }

    .action + .action {
        margin-left: 10px;
    }
}

.github {
    border: 1px solid #ddd;

    :global {
        @import "node_modules/highlight.js/scss/github";

        .hljs {
            background-color: white;
        }

        .linenumber {
            color: rgba(27, 31, 35, 0.3);
            background-color: #fcfcfc;
        }
    }
}

.githubDark {
    border: 1px solid #676565;

    :global {
        @import "node_modules/highlight.js/scss/darcula";

        .linenumber {
            color: #eee;
            background-color: #333;
        }
    }
}
