.divider {
    border: none;
    border-top: 1px solid $color-borders;
    margin: $spacing-2 0;
}

.featuredContainer {
    display: flex !important;
    gap: $spacing-4;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $spacing-2 $grid-spacing-mobile;
}

.featuredItem {
    flex: 0 0 calc(50% - $spacing-4);
}
