.image {
    display: block;
    margin-bottom: $spacing-1;

    img {
        border-radius: $border-radius-s;
    }
}

.title {
    display: block;
    text-transform: capitalize;
    color: $color-base-600;
    font-weight: $font-weight-medium;
    text-decoration: none;
}

.description {
    @include text-small;
    @include line-clamp(2);

    display: block;
    margin-top: $spacing-1;
    color: $color-base-500;
    font-weight: $font-weight-regular;

    @include mobile-only {
        display: none;
    }
}
