.link {
    @include text-label;

    display: block;
    text-decoration: none;
    color: var(--prezly-header-link-color);
    font-weight: $font-weight-medium;
}

.image {
    margin-bottom: $spacing-1;

    img {
        border-radius: $border-radius-s;
    }
}
