$shadow-s: 0 1px 2px rgb(17 24 39 / 6%), 0 1px 3px rgb(17 24 39 / 10%);
$shadow-m: 0 2px 4px rgb(17 24 39 / 6%), 0 4px 6px rgb(17 24 39 / 10%);
$shadow-l: 0 10px 15px rgb(17 24 39 / 10%), 0 4px 6px rgb(17 24 39 / 5%);
$shadow-l-up: 0 -10px 15px rgb(17 24 39 / 10%), 0 -4px 6px rgb(17 24 39 / 5%);
$shadow-xl: 0 20px 25px rgb(17 24 39 / 8%), 0 10px 10px rgb(17 24 39 / 2%);
$shadow-xxl: 0 10px 50px rgb(17 24 39 / 10%);
$shadow-inset: inset 0 2px 4px rgb(17 24 39 / 6%);
