.container {
    padding: $spacing-9 0;

    &:not(.categoryContainer) {
        @include not-desktop {
            padding-top: $spacing-5;
        }
    }

    // TODO: Figure out how to decrease the specificity of styles from the UI library
    .loadMore {
        display: flex;
        margin: $spacing-8 auto 0;
    }
}
