.container {
    padding: $spacing-8 0 $spacing-9;

    &:not(.categoryContainer) {
        @include not-desktop {
            padding-top: $spacing-5;
        }
    }
}

.loadMore {
    display: flex;
    margin: $spacing-8 auto 0;
}
