.container {
    display: flex;
}

.link {
    display: block;
    color: var(--prezly-footer-text-color);

    & + & {
        margin-left: $spacing-3;
    }

    &.preview {
        opacity: 0.5;
    }
}

.icon {
    $size: 1.5rem;

    width: $size;
    height: $size;
}
