.link {
    @include border-radius-m;
    @include link-primary;

    display: inline-flex;
    align-items: center;
    font-weight: $font-weight-bold;
    text-decoration: none;
}

.icon {
    width: 1rem;
    height: 1rem;
    margin-left: $spacing-1;
}
