.container {
    width: 100%;
    // TODO: This doesn't look too good.
    max-width: 720px;
    margin: $spacing-9 auto;
}

.title {
    @include heading-1;
}

.links {
    display: flex;
    align-items: center;
}
