.container {
    width: 100%;

    // TODO: This doesn't look too good.
    max-width: 720px;
    margin: 0 auto;

    @include mobile-only {
        margin: $spacing-4 auto;
    }

    :global {
        .prezly-slate-gallery.prezly-slate-gallery--expanded {
            @media (min-width: 992px) {
                position: relative;
                width: 100vw;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }

            @media (min-width: 1120px) {
                position: static;
                max-width: 1120px;
                margin-left: -200px;
            }
        }
    }
}

.title {
    @include heading-1;

    margin-top: 0;
}

.description {
    font-size: $font-size-l;
    line-height: $line-height-l;
    font-weight: $font-weight-regular;
    color: $color-base-500;
}

.links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.shareLinks {
    @include mobile-only {
        margin: $spacing-2 0 0;
    }
}
