.title {
    display: block;
    color: var(--prezly-header-link-color);
}

.description {
    @include text-small;
    @include line-clamp(2);

    min-width: 248px;
    display: block;
    margin-top: $spacing-1;
    color: var(--prezly-header-link-color);
    font-weight: $font-weight-regular;

    @include desktop-up {
        min-width: 298px;
    }

    @include mobile-only {
        display: none;
    }
}
