/* stylelint-disable selector-class-pattern */
%list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%list-item {
    &:not(:last-of-type) {
        margin-bottom: $spacing-3;
    }
}

.container {
    padding: $spacing-4;

    :global(.ais-Hits-list) {
        @extend %list;
    }

    :global(.ais-Hits-item) {
        @extend %list-item;
    }
}

.list {
    @extend %list;
}

.listItem {
    @extend %list-item;
}

.title {
    @include text-label;

    margin-top: 0;
    margin-bottom: $spacing-3;
    font-weight: $font-weight-medium;

    &.empty {
        margin-bottom: $spacing-1;
    }
}

.link {
    border: 0;
    padding: $spacing-1 0;
    margin-top: $spacing-2;
    color: var(--prezly-text-color);
    text-decoration: underline;

    &:hover,
    &:focus {
        color: var(--prezly-text-color-hover);
    }
}
