.container {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;

    &:hover {
        color: var(--prezly-accent-color);
    }
}

.imageWrapper {
    @include border-radius-s;

    display: block;
    overflow: hidden;
    width: 3.75rem;
    height: 3.75rem;
    margin-right: $spacing-3;
    flex-shrink: 0;
}

.image,
.placeholder {
    @include border-radius-s;
}

.title {
    @include text-label;
    @include line-clamp(2);
    @include search-result-title;

    font-weight: $font-weight-semi-bold;
}
