.item {
    & + & {
        border-top: 1px solid $color-borders;
    }

    &.withMobileDisplay {
        border: 0;
    }
}

.link {
    display: block;
    padding: $spacing-3;
    text-decoration: none;
    color: var(--prezly-header-link-color);
    font-weight: $font-weight-medium;

    &.active {
        background: $color-base-50; // TODO: Figure out what color to use here.
    }

    .withMobileDisplay & {
        @include mobile-only {
            @include text-label;

            padding: $spacing-2 $grid-gutter-mobile;
        }
    }
}
