.container {
    position: relative;
}

.menu {
    @include border-radius-m;
    @include shadow-m;

    position: absolute;
    left: 0;
    min-width: 200px;
    max-width: 330px;
    margin: $spacing-1 0 0;
    padding: 0;
    list-style: none;
    background: $color-base-white;
    border: 1px solid $color-borders;
    overflow: hidden;

    @include mobile-only {
        max-width: 280px;
    }
}

.container:last-child {
    .menu {
        left: auto;
        right: 0;
    }
}

.caret {
    margin-left: $spacing-1;
}

.caretOpen {
    transform: rotate(180deg);
}
