.container {
    position: relative;
}

@mixin absolute-menu-position {
    @include border-radius-m;
    @include shadow-m;

    position: absolute;
    left: 0;
    min-width: 200px;
    max-width: 330px;
    margin: $spacing-1 0 0;
    padding: 0;
    background: $color-base-white;
    border: 1px solid $color-borders;

    @include mobile-only {
        max-width: 280px;
    }
}

.buttonWithMobileDisplay {
    @include mobile-only {
        width: 100%;
    }
}

.menu {
    list-style: none;
    overflow: hidden;

    &.withMobileDisplay {
        @include mobile-only {
            padding: 0;
            margin: $spacing-half 0 $spacing-2;
        }

        @include tablet-up {
            @include absolute-menu-position();
        }
    }

    &:not(.withMobileDisplay) {
        @include absolute-menu-position();
    }
}

.container:last-child {
    .menu {
        left: auto;
        right: 0;
    }
}

.caret {
    margin-left: $spacing-1;
}

.caretOpen {
    transform: rotate(180deg);
}
