.newsrooms {
    display: grid;
    gap: $spacing-4;
    grid-template-columns: repeat(2, 1fr);

    &.withMargin {
        margin-bottom: $spacing-10;
    }

    &.one {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    @include tablet-up {
        &.one {
            grid-template-columns: 373.33px;
        }

        &.four {
            grid-template-columns: repeat(4, 1fr);
        }

        &.five {
            grid-template-columns: repeat(5, 1fr);
        }

        &.six {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    @include desktop-up {
        grid-template-columns: repeat(4, 1fr);

        &.two {
            grid-template-columns: repeat(2, 373.33px);
            justify-content: center;
        }

        &.three {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.loadMore {
    display: flex;
    margin: $spacing-8 auto 0;
}
