.newsrooms {
    display: grid;
    gap: $spacing-4;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: $spacing-10;

    @include tablet-up {
        &.four {
            grid-template-columns: repeat(4, 1fr);
        }

        &.five {
            grid-template-columns: repeat(5, 1fr);
        }

        &.six {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    @include desktop-up {
        grid-template-columns: repeat(4, 1fr);

        &.two {
            grid-template-columns: repeat(2, 1fr);
        }

        &.three {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.title {
    margin-bottom: $spacing-7;

    &.aria {
        @include sr-only;
    }
}

.loadMore {
    display: flex;
    margin: $spacing-8 auto 0;
}
