.container {
    border-bottom: 1px solid $color-base-200;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-4 0;
    min-height: 90px;
}

.logo {
    width: auto;
    max-width: 20rem;
    max-height: $line-height-xl;
}

.navigation {
    display: flex;
    align-items: center;
}
