.container {
    border-bottom: 1px solid $color-borders;
    z-index: 2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-4 0;
    min-height: 90px;
}

.newsroom {
    @include link-primary;

    font-size: 1.75rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}

.logo {
    width: auto;
    max-width: 20rem;
    max-height: $line-height-xl;
}

.navigation {
    display: flex;
    align-items: center;
}
