@use "../variables/spacing";
@use "responsive";

@mixin container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: spacing.$grid-spacing-mobile;
    padding-left: spacing.$grid-spacing-mobile;

    @include responsive.tablet-up {
        padding-left: spacing.$grid-spacing-tablet;
        padding-right: spacing.$grid-spacing-tablet;
    }

    @include responsive.desktop-up {
        padding-left: spacing.$grid-spacing-desktop;
        padding-right: spacing.$grid-spacing-desktop;
        max-width: spacing.$grid-container-max-width;
    }
}

/*
** Use this mixin inside a container to create a block that breaks outside of fixed width
** and stretches to the entire screen width
*/
@mixin full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
