$content-padding: $spacing-3;

@mixin quote-fix($direction) {
    padding-#{$direction}: $content-padding;

    &::before {
        #{$direction}: 0;
    }
}

.container {
    @include border-radius-m;

    display: flex;
    margin: $spacing-2 auto;
}

.content {
    @include paragraph;

    padding: $spacing-4 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        background-color: var(--prezly-border-color-secondary);
        width: 4px;
        height: calc(100% - ($spacing-4 * 2));
        transform: translateY(-50%);
    }
}

.alignLeft {
    text-align: left;
    justify-content: flex-start;

    .content {
        @include quote-fix("left");
    }
}

.alignCenter {
    text-align: center;
    justify-content: center;

    .content {
        @include quote-fix("left");
    }
}

.alignRight {
    text-align: right;
    justify-content: flex-end;

    .content {
        @include quote-fix("right");
    }
}
