.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.alignJustify {
    text-align: justify;
}

.htmlContent p,
.htmlContent h1,
.htmlContent h2 {
    color: var(--prezly-text-color);
}

.headingOne,
.htmlContent h1 {
    @include heading-1;

    margin: $spacing-6 auto $spacing-3;

    strong {
        font-weight: $font-weight-bolder;
    }
}

.headingTwo,
.htmlContent h2 {
    @include heading-2;

    margin: $spacing-6 auto $spacing-3;

    strong {
        font-weight: $font-weight-bolder;
    }
}

.headingThree,
.htmlContent h3 {
    @include heading-3;

    margin: $spacing-6 auto $spacing-3;
}

.paragraph,
.htmlContent p {
    margin: 0 auto $spacing-2;

    strong {
        font-weight: $font-weight-semi-bold;
    }
}

.link,
.htmlContent a {
    @include link-primary;
}

.bulletedList,
.numberedList,
.htmlContent ul,
.htmlContent ol {
    margin: 0 auto $spacing-2;
    padding-left: $spacing-3;
}

.bulletedList,
.htmlContent ul {
    list-style-type: disc;
    padding-inline-start: 20px;

    ul {
        list-style-type: circle;
    }

    // stylelint-disable-next-line selector-max-compound-selectors
    ul ul {
        list-style-type: square;
    }

    // stylelint-disable-next-line selector-max-compound-selectors
    ul ul ul {
        list-style-type: disc;
    }
}

.numberedList,
.htmlContent ol {
    list-style-type: decimal;
    padding-inline-start: 20px;

    ol {
        list-style-type: lower-latin;
    }

    ol ol {
        list-style-type: lower-roman;
    }

    ol ol ol {
        list-style-type: decimal;
    }
}

.bulletedList,
.numberedList {
    /**
     * Note: There's a fourth case of alignment, when it's undefined.
     * Which means it should inherit alignment from the document.
     * This is important, as with default alignment we shouldn't
     * apply `list-style-position` rule to make the bullets look good.
     */
    &.alignLeft,
    &.alignCenter,
    &.alignRight {
        padding-left: 0;
        padding-right: 0;
        list-style-position: inside;
    }
}

.listContainer {
    display: flex;

    .numberedList,
    .bulletedList {
        margin-left: 0;
        margin-right: 0;
    }

    &.alignLeft {
        text-align: left;
        justify-content: flex-start;
    }

    &.alignCenter {
        text-align: left;
        justify-content: center;
    }

    &.alignRight {
        text-align: right;
        justify-content: flex-end;
    }

    &.alignJustify {
        text-align: justify;
        justify-content: flex-start;
    }
}

.listItem,
.htmlContent li {
    @include paragraph;
}

.htmlContent table {
    width: 100% !important; // need to be specified because there is a default style from renderer
    max-width: 100%;
    text-indent: 0;
    table-layout: auto;
    border-collapse: collapse;
    margin-top: $spacing-2;
    margin-bottom: $spacing-2;
    border: 1px solid var(--prezly-border-color);

    th {
        background: var(--prezly-background-color-tertiary);

        > p {
            font-weight: 600;
        }
    }

    th, td {
        color: var(--prezly-text-color);
        border: 1px solid var(--prezly-border-color);
        font-size: 95%;
        min-width: 40px;
        min-height: 40px;
        padding: $spacing-1 * 1.5;
        text-align: left;
        vertical-align: middle;
        word-break: keep-all;

        > *:first-child {
            margin-top: 0;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.htmlContent blockquote {
    @include border-radius-m;

    position: relative;
    margin: $spacing-6 auto;
    padding: $spacing-4 $spacing-6;
    background: $color-base-50;

    &::before {
        content: "";
        border-left: 2px solid $color-base-400;
        padding-left: $spacing-4;
        position: absolute;
        top: $spacing-3;
        bottom: $spacing-3;
        left: $spacing-3;
    }
}
