@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "./prism.globals.css";

.hyperlink {
    @apply text-rose-500 underline font-semibold hover:text-rose-600;
}

// Fix for content using Prose/Slate Renderer
.prezly-slate-media {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.prezly-slate-divider {
    margin: 25px 0 !important;
}

.prezly-slate-document {
    font-size: 16px;
    line-height: 24px;
}
