.container {
    position: relative;

    @include desktop-up {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 0 $spacing-6;

        &:hover .image {
            transform: scale(1.05);
        }

        &:hover .titleLink {
            color: $color-base-800;
            background-size: 100% 100%;
        }

        &:hover .subtitleLink {
            color: $color-base-800;
        }
    }

    &:not(:last-of-type) {
        margin-bottom: $spacing-7;

        @include desktop-up {
            margin-bottom: $spacing-9;
        }
    }
}

.imageWrapper {
    @include border-radius-s;
    @include highlighted-card-aspect-ratio;

    display: block;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid $color-borders;

    @include desktop-up {
        .image {
            transform: scale(1);
            transition: transform 0.25s ease-in-out;
        }
    }

    .image,
    .placeholder {
        @include border-radius-s;
    }

    .placeholder > .image {
        border-radius: 0;
    }
}

.content {
    padding: $spacing-5 0;

    @include desktop-up {
        padding: 0;
    }
}

.separator {
    margin: 0 $spacing-half;
    font-weight: $font-weight-bold;
    font-size: $font-size-m;
}

.title {
    @include heading-1;

    margin-top: $spacing-1;
    margin-bottom: 0;

    &.huge {
        @include heading-2;
    }
}

.titleLink {
    text-decoration: none;
    color: inherit;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px), $color-base-800 5px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.7s;

    &:focus {
        color: $color-base-500;
    }
}

.subtitle {
    @include heading-3;

    margin-bottom: 0;
    margin-top: $spacing-3;
    color: $color-base-700;
    font-weight: $font-weight-regular;

    &.limited {
        @include ensure-max-text-height(3, $line-height-s);
    }

    &.hidden {
        @include desktop-up {
            display: none;
        }
    }
}

.subtitleLink {
    text-decoration: none;
    color: $color-base-700;
}

.date {
    display: block;
    margin-top: $spacing-3;
    color: $color-base-600;
}
