.container {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 500px;
    margin: (-$spacing-8) (-$spacing-5) $spacing-7;

    @include tablet-up {
        height: 500px;
    }

    @include desktop-up {
        height: 700px;
        margin: 0 0 $spacing-8;
        overflow: hidden;

        &:hover .image {
            transform: scale(1.05);
        }

        &:hover .titleLink {
            background-size: 100% 100%;
        }

        &.rounded {
            @include border-radius-m;
        }
    }
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(270deg, rgb(3 7 18 / 0%) 50%, rgb(3 7 18 / 40%) 100%), linear-gradient(180deg, rgb(3 7 18 / 0%) 40%, rgb(3 7 18 / 20%) 62%, rgb(3 7 18 / 40%) 100%);
}

.image,
.placeholder {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.image {
    @include desktop-up {
        transform: scale(1);
        transition: transform 0.25s ease-in-out;
    }
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
        position: static;
    }
}

.content {
    padding: $spacing-7 $spacing-4;
    z-index: 2;

    @include tablet-up {
        padding: $spacing-7 $spacing-5;
    }

    @include desktop-up {
        max-width: 600px;
        padding: $spacing-8;
        box-sizing: content-box;
    }
}

.categories {
    display: flex;
    gap: $spacing-1;
    margin-bottom: $spacing-3;

    .link {
        z-index: 2;
    }

    .badge {
        color: var(--prezly-white);
        background-color: color-mix(in srgb, var(--prezly-white) 20%, transparent);
        backdrop-filter: blur(8px);
    }
}

.title {
    @include ensure-max-text-height(3, 140%);

    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    margin: 0;

    &.expanded {
        @include ensure-max-text-height(4, 140%);
    }

    @include tablet-up {
        font-size: 2.25rem;
        line-height: 140%;
    }
}

.titleLink {
    text-decoration: none;
    width: calc(100%);
    color: var(--prezly-white);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--prezly-white) 5px);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.7s;

    .mask {
        position: absolute;
        inset: 0;
    }
}

.subtitle {
    @include ensure-max-text-height(3, 160%);

    margin: 0;
    margin-top: $spacing-2;
    color: var(--prezly-white);
    font-size: $font-size-s;
    font-weight: $font-weight-regular;
    line-height: 160%;

    @include tablet-up {
        font-size: $font-size-m;
    }
}

.date {
    margin-top: $spacing-2;
    color: var(--prezly-white);
    line-height: 160%;
}
