@import "styles/variables";
@import "styles/mixins";

.container {
    position: relative;

    @include desktop-up {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 $spacing-6;
    }

    &:not(:last-of-type) {
        margin-bottom: $spacing-7;

        @include desktop-up {
            margin-bottom: $spacing-9;
        }
    }
}

.imageWrapper {
    display: block;
    height: 320px;

    @include tablet-up {
        height: 440px;
    }

    @include desktop-up {
        min-height: 368px;
        height: 100%;
        border-radius: $spacing-half;
        overflow: hidden;
    }

    @include not-desktop {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.content {
    padding: $spacing-7 0;

    @include desktop-up {
        padding: $spacing-9 $spacing-6;
        padding-left: 0;
    }
}

.dateAndCategory {
    @include text-label;

    display: flex;
    flex-wrap: wrap;
}

.category,
.categorySeparator {
    color: $color-indigo-600;
    font-weight: $font-weight-bold;
}

.category {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.categorySeparator {
    margin-right: $spacing-half;
}

.title {
    font-weight: $font-weight-bold;
    margin-top: $spacing-1;
    margin-bottom: 0;
}

.titleLink {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
        color: $color-base-500;
    }
}

.subtitle {
    margin-bottom: 0;
    margin-top: $spacing-3;
    color: $color-base-600;
}
