$small-card-image-size: 230px;

.container {
    position: relative;

    /* stylelint-disable-next-line order/order */
    @include desktop-up {
        &:not(:last-of-type) {
            margin-bottom: 0;
        }

        &:hover .image {
            transform: scale(1.05);
        }

        &:hover .titleLink {
            color: $color-base-800;
            background-size: 100% 100%;
        }

        &:hover .subtitleLink {
            color: $color-base-800;
        }
    }
}

.imageWrapper {
    @include border-radius-s;

    display: block;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid $color-borders;

    @include desktop-up {
        .image {
            transform: scale(1);
            transition: transform 0.25s ease-in-out;
        }
    }
}

.image,
.placeholder {
    @include border-radius-s;
}

.placeholder > .image {
    border-radius: 0;
}

.content {
    padding-top: $spacing-4 - $spacing-half; // 20px

    @include desktop-up {
        padding: ($spacing-4 - $spacing-half) 0; // 20px 0
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-1;
}

.title {
    @include heading-2;

    font-weight: $font-weight-bold;
    margin-top: 0;
    margin-bottom: $spacing-2;

    @include tablet-up {
        @include ensure-max-text-height(3, $line-height-l);
    }
}

.titleLink {
    text-decoration: none;
    color: inherit;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px), $color-base-800 5px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.7s;

    &:focus {
        color: $color-base-800;
    }
}

.subtitle {
    @include heading-3;
    @include ensure-max-text-height(2, $line-height-m);

    margin: 0 auto $spacing-2;
    font-weight: $font-weight-regular;
}

.subtitleLink {
    text-decoration: none;
    color: $color-base-700;
}

.date {
    @include text-label;

    margin: 0;
    color: $color-base-600;
}

.small {
    @include desktop-up {
        display: grid;
        grid-template-columns: $small-card-image-size auto;
        gap: 0 $spacing-4;
        align-items: center;
    }

    .imageWrapper {
        @include small-card-aspect-ratio;
    }

    .content {
        @include desktop-up {
            padding: 0;
        }
    }

    .title {
        @include desktop-up {
            @include heading-3;
            @include ensure-max-text-height(3, $line-height-m);

            margin-bottom: 0;
        }

        @include desktop-up {
            @include paragraph;
            @include ensure-max-text-height(3, $line-height-s);
        }
    }

    .date {
        @include desktop-up {
            margin-top: $spacing-1;
        }
    }

    .title.noCategories,
    .title.noDate {
        @include desktop-up {
            @include ensure-max-text-height(4, $line-height-s);
        }
    }

    .title.noDateAndCategories {
        @include desktop-up {
            @include ensure-max-text-height(5, $line-height-s);
        }
    }
}

.medium {
    .imageWrapper {
        @include medium-card-aspect-ratio;
    }
}

.big {
    .imageWrapper {
        @include big-card-aspect-ratio;
    }
}

@include desktop-up {
    .medium {
        grid-column: span 2;
    }

    .big,
    .small {
        grid-column: span 3;
    }
}
