.imageContainer,
.image {
    height: 100%;
}

.imageContainer {
    display: block;
}

.placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-4;
    background: $color-base-50;
    border: 1px solid $color-borders;
}

.placeholderLogo {
    max-width: 16rem;
    max-height: 4rem;
}
