.container {
    @include border-radius-m;

    display: flex;
    justify-content: center;
    margin: $spacing-6 auto;
    padding-top: $spacing-4;
    padding-bottom: $spacing-4;
}

.quote {
    & + & {
        margin-left: 0.175rem;
    }
}

.left,
.right {
    flex-shrink: 0;
}

.left {
    display: flex;
    margin-right: $spacing-3;
    color: $color-base-400;
}

.right {
    display: flex;
    align-items: flex-end;
    margin-left: $spacing-3;
    color: $color-base-400;
}

.content {
    font-style: italic;
    flex: 1;
    text-align: center;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}
