.container {
    @include border-radius-m;

    display: flex;
    margin: $spacing-6 auto;
    padding: $spacing-4;
    background: #f9fafb;

    &.left {
        justify-content: left;
    }

    &.center {
        justify-content: center;
    }

    &.right {
        justify-content: right;
    }
}

.left,
.right {
    flex-shrink: 0;
    width: 2px;
    background-color: $color-base-400;
}

.left {
    margin-right: $spacing-3;
}

.right {
    margin-left: $spacing-3;
}

.content {
    @include paragraph;

    flex: 1;
    text-align: center;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}
