.heading {
    margin-left: -35px;
    padding-left: 35px;

    .anchor {
        float: left;
        padding-right: 5px;
        margin-left: -35px;
        margin-top: 5px;
        text-decoration: none;
        display: none;
    }
}

.heading:hover {
    .anchor {
        display: block;
    }
}

.icon {
    width: 15px;
    height: 15px;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.link,
.htmlContent a {
    @include link-primary;
}
