.heading {
    margin-left: -35px;
    padding-left: 35px;

    .anchor {
        display:none;
    }
}

.heading:hover {
    .anchor {
        display:block;
    }
}

.icon {
    width: 15px;
    height: 15px;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}


.anchor {
    float: left;
    padding-right: 5px;
    margin-left: -35px;
    margin-top: 5px;
    text-decoration: none;
}

.link,
.htmlContent a {
    @include link-primary;
}
