.link {
    @include text-label;

    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $color-text;
    font-weight: $font-weight-medium;
}

.image {
    margin-bottom: $spacing-1;
    //height: auto;
    //aspect-ratio: 1.25;

    img {
        border-radius: $border-radius-s;
    }
}
