.link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $color-text;
    font-weight: $font-weight-medium;
    position: relative;
}

.image img {
    border-radius: $border-radius-s;
}

.label {
    padding: $spacing-3;
    position: absolute;
    width: 100%;
    color: white;
    bottom: 0;

    .categoryName {
        @include heading-3;

        line-height: $line-height-l;
    }

    .viewLink {
        @include text-small;

        font-weight: $font-weight-medium;
    }
}
