name: Lint

on: push

jobs:
  run-linters:
    name: Run Linter checks
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install Node.js dependencies
        run: npm ci

      - name: Run ESLint and StyleLint
        uses: wearerequired/lint-action@v2.2.0
        with:
          eslint: true
          eslint_extensions: "ts,tsx"
          stylelint: true
          stylelint_extensions: "scss"
